<form method="post" action="/spaces">
  <label for="name">
    Name:
  <input name="name" type="text">
  </label>
  <label for="description">
    Description:
  <input name="description" type="text">
  </label>
  <label for="price">
    Price:
  <input name="price" type="number">
  </label>
  <input type="submit" value="submit">
</form>
