<form method="post" action="/spaces">
  <label for="name">
    Name
    <input name="name" type="text" id="name">
  </label>
  <label for="description">
    Description
    <input name="description" type="text" id="description">
  </label>
  <label for="price">
    Price
    <input name="price" type="number" id="price">
  </label>
  <label for="start_date">
    Start Date
    <input name="start_date" type="date" id="start_date">
  </label>
  <label for="end_date">
    End Date
    <input name="end_date" type="date" id="end_date">
  </label>

  <input type="submit" value="submit">
</form>
