<form method="post" action="/bookings">
  <label for="booking_date">
    Pick a night:
    <input name="booking_date" type="date">
  </label>
    <input type="hidden" name="space_id" value="<%= space_id %>">
  <input type="submit" value="Submit">
</form>
