<h1> Fill this in to sign up - FUCKING IDIOT </h1>

<form action="/users" method="post">
  <label for="email">
    Username:
    <input name="email" type="email">
  </label>
  <label for="password">
    Password:
    <input name="password" type="password">
  </label>
  <label for="password confirmation">
    Password Confirmation:
    <input name="password_confirmation" type="password">
  </label>
  <input type="submit" value="Submit">
</form>
