<!DOCTYPE html>
<html>
  <head>
    <title>Makers BnB by Toby and Cameron!</title>
    <!-- insert stylesheet stuff here -->
  </head>
  <body>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
