<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Quicksand" rel="stylesheet">
  </head>
  <body>
    <%= partial :navigation %>
    <div class="wrapper">
    <%= partial :flash %>
    <%= yield %>
    </div>
  </body>
</html>
